<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="repoEstudiantes" class="com.ricardo.persistence.StudentsRepository">
    </bean>

    <bean id="servEsTudiantes" class="com.ricardo.services.StudentsService">
        <property name="repository" ref="repoEstudiantes" />
    </bean>

</beans>